# Dependências
node_modules/
vendor/
/terraform/providers/registry.terraform.io/hashicorp

# Arquivos de ambiente/sensíveis
.env
.env.local
config.json
*.ps1
*.terraform.tfstate

# Arquivos de sistema/IDE
.DS_Store
.vscode/
.idea/
*.suo

# Logs e arquivos temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp/
build/
dist/
